HOST=0.0.0.0
PORT=8000
PUBLIC_API_HOST=https://cursorxpro.deno.dev
AES_KEY=nKEg32K9jsdJRMSA2pcn83LM9sUUwq29
JWT_SECRET=please_replace_with_random_long_secret
SESSION_TTL_HOURS=72
ADMIN_BOOTSTRAP_USERNAME=admin
ADMIN_BOOTSTRAP_PASSWORD=ChangeMe_123456
